    <!-- About Section -->
    <section id="about" class="container content-section">
      <div class="row">
        <div class="text-center">
          <h2>Om PellePilot</h2>
        </div>
      </div>
      <div class="row">
        <div class="col-md-8 col-md-offset-2">
          <div class="col-md-6">
            <p>Vår flygskola håller hög kvalitet till rätt pris. Flygutbildningen du får hos oss är en bra start på din fortsatta pilotkarriär eller som privat flygare, oavsett ger våra erfarna instruktörer dig en bra grundutbildning att bygga vidare på.</p>
            <p>Vi har alla en gemensam dröm att kunna flyga.</p>
          </div>
          <div class="col-md-6">
            <p>Flygskolan ligger strategiskt bra till för flygutbildning då banan är lång och relativt otraffikerad. Vi har även möjlighet att skola både IR och mörker här på hemmaflygplatsen.</p>
            <p>Vi kan uppfylla din dröm oavsett om den yttrats sig i att Du själv vill lära sig flyga eller om Du endast vid något tillfälle vill få komma upp och se Din omgivning från ett nytt perspektiv.</p>
      </div>
    </div>
  </div>
</section>
