<!-- Main Section -->
<section id="main" class="container content-section">
    
  <div class="row top-row">
      <div class="col-lg-8 om-oss">
          <h2>Om PellePilot</h2>
          <p>Vår flygskola håller hög kvalitet till rätt pris. Flygutbildningen du får hos oss är en bra start på din fortsatta pilotkarriär eller som privat flygare, oavsett ger våra erfarna instruktörer dig en bra grundutbildning att bygga vidare på.</p>
            <p>Vi har alla en gemensam dröm att kunna flyga.</p>
            <p>Flygskolan ligger strategiskt bra till för flygutbildning då banan är lång och relativt otraffikerad. Vi har även möjlighet att skola både IR och mörker här på hemmaflygplatsen.</p>
            <p>Vi kan uppfylla din dröm oavsett om den yttrats sig i att Du själv vill lära sig flyga eller om Du endast vid något tillfälle vill få komma upp och se Din omgivning från ett nytt perspektiv.</p>
      </div>
      
      <div class="col-lg-4 prova-pa">
            <h2>Prova på</h2>
            <p>Om du går i tankar på att lära dig flyga, börja med en prova-på lektion! Under cirka en timme med en av våra flyglärare får du följa med upp i luften och känna hur det känns att spaka ett flygplan själv.</p>
            <p>Kontakta oss och boka in en tid med en gång!</p>
      </div>
    </div> <!--/row-->
    
    <div class="row kontakt">
        <div class="col-lg-8 col-lg-offset-2">
            <h2>Kontakta oss</h2>
            <p>Välkommen att kontakta oss om du har några frågor eller funderingar.</p>
            <p><a href="mailto:{{ site.email }}">{{ site.email }}</a>
            </p>
            <ul class="list-inline banner-social-buttons">
                {% for network in site.social %}
                <li>
                    <a href="{{ network.url }}" class="btn btn-default btn-lg"><i class="fa fa-{{ network.title }} fa-fw"></i> <span class="network-name">{{ network.title }}</span></a>
                </li>
                {% endfor %}
            </ul>
        </div>
    </div> <!--/row-->
    <!--
    <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                    <!-- To configure the contact form email address, go to mail/contact_me.php and update the email address in the PHP file on line 19. -->
                    <!-- The form should work on most web servers, but if the form is not working you may need to configure your web server differently. --><!--
                    <form name="sentMessage" id="contactForm" novalidate>
                        <div class="row control-group">
                            <div class="form-group col-xs-12 floating-label-form-group controls">
                                <label>Name</label>
                                <input type="text" class="form-control" placeholder="Namn" id="name" required data-validation-required-message="Please enter your name.">
                                <p class="help-block text-danger"></p>
                            </div>
                        </div>
                        <div class="row control-group">
                            <div class="form-group col-xs-12 floating-label-form-group controls">
                                <label>Email Address</label>
                                <input type="email" class="form-control" placeholder="Email Adress" id="email" required data-validation-required-message="Please enter your email address.">
                                <p class="help-block text-danger"></p>
                            </div>
                        </div>
                        <div class="row control-group">
                            <div class="form-group col-xs-12 floating-label-form-group controls">
                                <label>Phone Number</label>
                                <input type="tel" class="form-control" placeholder="Telefon" id="phone" required data-validation-required-message="Please enter your phone number.">
                                <p class="help-block text-danger"></p>
                            </div>
                        </div>
                        <div class="row control-group">
                            <div class="form-group col-xs-12 floating-label-form-group controls">
                                <label>Message</label>
                                <textarea rows="5" class="form-control" placeholder="Meddelande" id="message" required data-validation-required-message="Please enter a message."></textarea>
                                <p class="help-block text-danger"></p>
                            </div>
                        </div>
                        <br>
                        <div id="success"></div>
                        <div class="row">
                            <div class="form-group col-xs-12">
                                <button type="submit" class="btn btn-success btn-lg">Skicka</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
    -->
    
    <!--
  <form id="contact-form" class="contact-form" method="post" data-success="Message successfully sent!">

  <label for="name">Name</label>
  <input id="name" type="text" name="name" class="field" required autofocus /><br/>

  <label for="email">E-mail</label>
  <input id="email" type="email" name="email" class="field" required /><br/>

  <label for="subject">Subject</label>
  <input id="subject" type="text" name="subject" class="field" required /><br/>

  <label for="message">Message</label>
  <textarea id="message" name="message" required ></textarea><br/>

  <!--label for="recaptcha_response_field">Captcha</label>
  <div id="recaptcha_widget" class="recaptcha">
    <div class="image">
      <div id="recaptcha_image"></div>
    </div>

    <div class="headline recaptcha_only_if_image">Enter the words above:</div>
    <div class="headline recaptcha_only_if_audio">Enter the numbers you hear:</div>

    <input type="text" id="recaptcha_response_field" name="recaptcha_response_field" required />

    <span class="recaptcha_icon"><a href="javascript:Recaptcha.reload()"><i class="fa fa-refresh"></i></a></span>
    <span class="recaptcha_icon recaptcha_only_if_image"><a href="javascript:Recaptcha.switch_type('audio')"><i class="fa fa-volume-up"></i></a></span>
    <span class="recaptcha_icon recaptcha_only_if_audio"><a href="javascript:Recaptcha.switch_type('image')"><i class="fa fa-font"></i></a></span>
    <span class="recaptcha_icon"><a href="javascript:Recaptcha.showhelp()"><i class="fa fa-question-circle"></i></a></span>
  </div><br/>
      
  <div id="notice" class="notice" data-captcha-failed="Incorrect captcha!" data-error="There was an error sending the message, please try again."></div-->
      <!--
      <div class="g-recaptcha" data-sitekey="6LdmkAkTAAAAAB-JhgP_Vx90bkbRdaKyXdNA1e_O"></div>
      
  <button type="submit">Send</button>
</form>

<script type="text/javascript" src="http://www.google.com/recaptcha/api/js/recaptcha_ajax.js"></script>
    -->
    
    
    <div class="row kontakt">
        <div class="col-lg-8 col-lg-offset-2">
            <iframe src="http://webb.io/pellepilot/contact-form/" width="100%" height="500" seamless style="border: 0;"></iframe>
        </div>
    </div>
    

</section>