<!-- Main Section -->
<section id="main" class="container content-section">
    
  <div class="row top-row">
      <div class="col-lg-8 om-oss">
          <h2>Om PellePilot</h2>
          <p>Vår flygskola håller hög kvalitet till rätt pris. Flygutbildningen du får hos oss är en bra start på din fortsatta pilotkarriär eller som privat flygare, oavsett ger våra erfarna instruktörer dig en bra grundutbildning att bygga vidare på.</p>
            <p>Vi har alla en gemensam dröm att kunna flyga.</p>
            <p>Flygskolan ligger strategiskt bra till för flygutbildning då banan är lång och relativt otraffikerad. Vi har även möjlighet att skola både IR och mörker här på hemmaflygplatsen.</p>
            <p>Vi kan uppfylla din dröm oavsett om den yttrats sig i att Du själv vill lära sig flyga eller om Du endast vid något tillfälle vill få komma upp och se Din omgivning från ett nytt perspektiv.</p>
      </div>
      
      <div class="col-lg-4 prova-pa">
            <h2>Prova på</h2>
            <p>Om du går i tankar på att lära dig flyga, börja med en prova-på lektion! Under cirka en timme med en av våra flyglärare får du följa med upp i luften och känna hur det känns att spaka ett flygplan själv.</p>
            <p>Kontakta oss och boka in en tid med en gång!</p>
      </div>
    </div> <!--/row-->
    
    <div class="row kontakt">
        <div class="col-lg-8 col-lg-offset-2">
            <h2>Kontakta oss</h2>
            <p>Välkommen att kontakta oss om du har några frågor eller funderingar.</p>
            
            
            
            
            
            
            <div id="toggledContent" class="toggledContent hide">
                <p>Använd formuläret nedan eller kontakta oss på <a href="mailto:{{ site.email }}">{{ site.email }}</a>.</p>
                <iframe src="http://webb.io/pellepilot/contact-form/" width="100%" height="500" seamless style="border: 0;"></iframe>
                <hr>
                <div class="text-center">
                    <ul class="list-inline banner-social-buttons">
                        {% for network in site.social %}
                        <li>
                            <a href="{{ network.url }}" class="btn btn-default btn-lg"><i class="fa fa-{{ network.title }} fa-fw"></i> <span class="network-name">{{ network.title }}</span></a>
                        </li>
                        {% endfor %}
                    </ul>
                </div>
            </div><!-- /toggledContent -->
            
            
            
            
            <div id="untoggledContent" class="untoggledContent">
                <hr>
                <div class="text-center">
                    <ul class="list-inline banner-social-buttons">
                        <li>
                            <div id="toggleButton" class="toggleButton btn btn-default btn-lg"><i class="fa fa-envelope-o fa-fw"></i> Maila oss</div>
                        </li>
                        {% for network in site.social %}
                        <li>
                            <a href="{{ network.url }}" class="btn btn-default btn-lg"><i class="fa fa-{{ network.title }} fa-fw"></i> <span class="network-name">{{ network.title }}</span></a>
                        </li>
                        {% endfor %}
                    </ul>
                </div>
            </div> <!-- /untoggledContent -->
        </div>
    </div> <!--/row-->
    

</section>


<script>
var contentHidden = true,
	$toggleButton = document.getElementById('toggleButton'),
	$toggledContent = document.getElementById('toggledContent');
    $untoggledContent = document.getElementById('untoggledContent');

$toggleButton.onclick = function()
	{
	showHideContent();
	}

function showHideContent()
	{
	if (contentHidden)
		{
		$toggleButton.innerText = 'HIDE CONTENT';
		contentHidden = false;
		$toggledContent.className = "toggledContent";
        $toggleButton.className = "toggleButton hide";
        $untoggledContent.className = "untoggledContent hide";
		}
	else
		{
		$toggleButton.innerText = 'SHOW CONTENT';
		contentHidden = true;
		$toggledContent.className = "toggledContent hide";
		}
	}
</script>